<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzw.payment.dao.BalanceDao">

    <update id="updateConsumption">
        UPDATE `balance` SET balance = IFNULL(balance,0) - #{balance}
        WHERE userid = #{userid} AND balance - IFNULL(#{balance},0)>= 0
    </update>
</mapper>

 